* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px solid red;
}

:root.dark {
  --one: #502646;
  --two: #cfafc8;
}

:root.light {
  --one: #cfafc8;
  --two: #502646;
}

body {
  background-color: var(--one);
  text-align: center;
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--two);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

button {
  background-color: var(--two);
  color: var(--one);
  padding: 1rem 3rem;
  border-radius: 999px;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

@media screen and (max-width: 700px) {
  .rps-buttons {
    flex-direction: column;
  }
}
